@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:400,700,500,600,800");

:root {
  --black: 
rgba(0, 0, 0, 1);
  --cinder: 
rgba(11, 13, 23, 1);
  --eerie-black: 
rgba(24, 25, 31, 1);
  --scooter: 
rgba(46, 197, 206, 1);
  --xolotl-encabezadospies: 
rgba(67, 166, 238, 1);
  --xolotl-encabezadospies-gris: 
rgba(69, 101, 131, 1);
  --xolotl-fuentes-de-segundo-plano: 
rgba(70, 202, 234, 1);
  --mako: 
rgba(71, 74, 87, 1);
  --gray: 
rgba(144, 142, 142, 1);
  --alto: 
rgba(217, 219, 225, 1);
  --white: 
rgba(255, 255, 255, 1);

  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 40px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 72px;

  --font-family-inter: "Inter";
}

.inter-normal-eerie-black-14px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-eerie-black-16px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.inter-semi-bold-eerie-black-24px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 600;
  font-style: normal;
}
.inter-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-eerie-black-18px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-extra-bold-white-48px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 800;
  font-style: normal;
}
.inter-medium-gray-14px {
  color: var(--gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-style: normal;
}
.inter-normal-mako-14px {
  color: var(--mako);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 400;
  font-style: normal;
}
.inter-medium-eerie-black-14px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-style: normal;
}
.inter-extra-bold-eerie-black-48px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 800;
  font-style: normal;
}
.inter-bold-eerie-black-18px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.inter-bold-eerie-black-28px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
}
.inter-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}

/* Header */

.header-1 {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 1px 0px 
#e5e9f2;
  display: flex;
  height: 54px;
  min-width: 1454px;
  padding: 0 165px;
  animation: transicionHeader 1.50s;
}

.left-nav {
  align-items: flex-start;
  display: flex;
  margin-bottom: 2px;
  width: 690px;
}

.nav-items {
  align-items: center;
  display: flex;
  height: 38px;
  width: 660px;
}

.btn-servicios {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 42px;
  min-width: 62px;
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
}

.xlotl-creative-labs {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 18px;
  margin-left: 10px;
  min-height: 18px;
  min-width: 189px;
  white-space: nowrap;
}

.btn-planes {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 32px;
  min-width: 46px;
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  
}

.btn-conocenos {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 32px;
  min-width: 77px;
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
}

.btn-casos {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 32px;
  min-width: 43px;
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
}

.btn-contacto {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 32px;
  min-width: 63px;
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
}

.right-nav {
  align-items: flex-start;
  display: flex;
  margin-left: 205px;
  width: 229px;
}

.btn-open-login {
  align-items: center;
  background-color: 
rgba(67, 166, 238, 0.298);
  border-radius: 6px;
  display: flex;
  height: 40px;
  min-width: 97px;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  color: var(--xolotl-encabezadospies);
  transition: .3s ease all;
}

.btn-open-login:hover {
  background: rgba(67, 166, 238, 0.198) ;
}

.btn-open-register {
  align-items: center;
  background-color: var(--xolotl-encabezadospies);
  border-radius: 6px;
  display: flex;
  height: 40px;
  margin-left: 14px;
  min-width: 118px;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  transition: .3s ease all;
}

.btn-open-register:hover{
  background: rgba(67, 166, 238, .8);;
}

/* Banner principal */

.hero-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 862px;
  overflow: hidden;
  width: 1454px;
  animation: transicionHeader 2.50s;
}

.header-copy {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 344px;
  margin-top: 53px;
  width: 1110px;
}

.textoprincipal {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-weight: 800;
  letter-spacing: 0;
  line-height: 88px;
  min-height: 264px;
  text-align: center;
  width: 1110px;
}

.btn-inicia {
  align-items: center;
  background-color: var(--xolotl-encabezadospies);
  border-radius: 6px;
  display: flex;
  height: 48px;
  margin-top: 32px;
  min-width: 138px;
  padding: 0 32px;
  border: none;
  cursor: pointer;
}

.label-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 74px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group-1 {
  align-self: flex-start;
  height: 355px;
  margin-top: 150px;
  position: relative;
  width: 1440px;
}

.line {
  background-color: 
#f4f5f7;
  height: 1px;
  left: 0;
  position: absolute;
  top: 222px;
  width: 1440px;
}

.circle-bg {
  height: 171px;
  left: 0;
  position: absolute;
  top: 50px;
  width: 1440px;
}

.mobile-i-phone-x {
  height: 355px;
  left: 565px;
  position: absolute;
  top: -134px;
  width: 343px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 14.51px;
  margin-top: 47px;
  min-width: 298px;
}

.artwork {
  height: 45px;
  width: 141px;
}

.group {
  height: 45px;
  margin-left: 15px;
  width: 141px;
}

/* Servicios */

#servicios {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 472px;
  padding: 64px 165px;
  width: 1454px;
  transition: all 2.5s ease-out;
}

.features-list {
  align-items: flex-start;
  display: flex;
  height: 232px;
  margin-top: 48px;
  width: 1110px;
}

.x3 {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  min-height: 180px;
  width: 350px;
}

.details-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 124px;
  margin-top: 24px;
  width: 350px;
}

.headline {
  letter-spacing: 0;
  line-height: 32px;
  min-height: 64px;
  width: 350px;
}

.description-1 {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 8px;
  min-height: 52px;
  width: 350px;
}

.feature-icons-0 {
  height: 32px;
  width: 32px;
}

.x1 {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 232px;
  width: 350px;
}

.details-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 176px;
  margin-top: 24px;
  width: 350px;
}

.description {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 8px;
  min-height: 104px;
  width: 350px;
}

.x2 {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  min-height: 200px;
  width: 350px;
}

.details-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 144px;
  margin-top: 24px;
  width: 350px;
}

.headline-1 {
  letter-spacing: 0;
  line-height: 32px;
  min-height: 32px;
  white-space: nowrap;
}

.section-heading {
  align-items: flex-start;
  display: flex;
  height: 64px;
  width: 730px;
}

.section-title {
  letter-spacing: 0;
  line-height: 64px;
  min-height: 64px;
  white-space: nowrap;
}

/* Contadores */

.stats-1 {
  align-items: flex-start;
  background-color: var(--xolotl-encabezadospies-gris);
  display: flex;
  min-width: 1454px;
}

.overlap-group1 {
  height: 376px;
  position: relative;
  width: 1454px;
}

.bg {
  align-items: flex-end;
  display: flex;
  height: 376px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1454px;
}

.overlap-group-2 {
  height: 475px;
  margin-bottom: -99.04px;
  position: relative;
  width: 1455px;
}

.rectangle-6 {
  background-color: var(--xolotl-encabezadospies-gris);
  height: 358px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.patterns {
  height: 376px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1454px;
}

.section-heading-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 104px;
  left: 358px;
  position: absolute;
  top: 64px;
  width: 737px;
}

.description-2 {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: 8px;
  min-height: 32px;
  text-align: center;
  white-space: nowrap;
  width: 737px;
}

.section-heading {
  align-items: flex-start;
  display: flex;
  height: 64px;
  width: 730px;
}

.section-title-1 {
  letter-spacing: 0;
  line-height: 64px;
  min-height: 64px;
  text-align: center;
  white-space: nowrap;
  width: 730px;
}

.counts {
  align-items: flex-start;
  display: flex;
  height: 128px;
  left: 172px;
  position: absolute;
  top: 200px;
  width: 1110px;
}

.x3-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 14px;
  min-width: 255px;
}

.details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 96px;
  width: 255px;
}

.number {
  letter-spacing: 0;
  line-height: 64px;
  min-height: 64px;
  text-align: center;
  white-space: nowrap;
  width: 255px;
}

.label-1 {
  letter-spacing: 0;
  line-height: 32px;
  min-height: 32px;
  text-align: center;
  white-space: nowrap;
  width: 255px;
}

.divider {
  height: 96px;
  margin-left: 14px;
  width: 1px;
}

.x2-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-left: 15px;
  min-width: 255px;
}

.x1-1 {
  align-items: flex-start;
  display: flex;
  min-width: 255px;
}

.x4 {
  align-items: flex-start;
  display: flex;
  margin-left: 15px;
  min-width: 255px;
}

.details-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 128px;
  width: 255px;
}

.label-3 {
  letter-spacing: 0;
  line-height: 32px;
  min-height: 64px;
  text-align: center;
  width: 255px;
}

/* Descripción */

#conocenos {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 668px;
  padding: 0 165px;
  width: 1454px;
}

.creative {
  align-items: flex-end;
  background-color: 
#43a6ee80;
  border-radius: 270px;
  display: flex;
  height: 540px;
  justify-content: flex-end;
  min-width: 540px;
  padding: 36px 40px;
}

.overlap-group-3 {
  height: 435px;
  position: relative;
  width: 427px;
}

.mock-card {
  height: 305px;
  left: 129px;
  position: absolute;
  top: 130px;
  width: 298px;
}

.image {
  height: 339px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 278px;
}

.content-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 350px;
  margin-left: 30px;
  width: 554px;
}

.button-3 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 48px;
  margin-top: 32px;
  min-width: 202px;
}

.essential-icons-right-arrow {
  height: 24px;
  margin-left: 8px;
  width: 24px;
}

.label-4 {
  color: var(--xolotl-fuentes-de-segundo-plano);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 170px;
  white-space: nowrap;
}

.feature-header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 134px;
  width: 458px;
}

.section-label {
  color: var(--xolotl-fuentes-de-segundo-plano);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 18px;
  min-height: 18px;
  min-width: 134px;
  text-align: center;
  white-space: nowrap;
}

.headline-2 {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 800;
  letter-spacing: 0;
  line-height: 54px;
  margin-top: 8px;
  min-height: 108px;
  width: 458px;
}

.description-3 {
  letter-spacing: 0;
  line-height: 32px;
  margin-right: 14px;
  margin-top: 32px;
  min-height: 128px;
  width: 444px;
}

/* Recomendaciones */

#testimonial-1 {
  align-items: center;
  background-color: 
#4565834c;
  display: flex;
  flex-direction: column;
  height: 663px;
  padding: 64px 165px;
  width: 1454px;
}

.testimonials {
  align-items: flex-start;
  display: flex;
  margin-top: 40px;
  min-width: 1110px;
}

.text-testimonial-2 {
  align-items: flex-start;
  display: flex;
  height: 337px;
  justify-content: center;
  margin-left: 30px;
  min-width: 350px;
}

.overlap-group {
  height: 347px;
  margin-top: -10px;
  position: relative;
  width: 430px;
}

.title {
  left: 80px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 50px;
  white-space: nowrap;
  width: 270px;
}

.client-details-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 116px;
  left: 87px;
  position: absolute;
  top: 231px;
  width: 256px;
}

.picture {
  height: 56px;
  object-fit: cover;
  width: 56px;
}

.person-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 52px;
  margin-top: 8px;
  width: 256px;
}

.name {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 28px;
  text-align: center;
  white-space: nowrap;
  width: 256px;
}

.designation {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 256px;
}

.card {
  height: 285px;
  left: 0;
  position: absolute;
  top: 0;
  width: 430px;
}

.content {
  left: 80px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 90px;
  width: 270px;
}

.text-testimonial-2-1 {
  align-items: flex-start;
  display: flex;
  height: 337px;
  justify-content: center;
  min-width: 350px;
}

.slider-controls-1 {
  align-items: center;
  display: flex;
  margin-top: 40px;
  min-width: 54px;
}

.ellipse-4 {
  background-color: var(--cinder);
  border-radius: 4px;
  height: 8px;
  width: 8px;
}

.ellipse-3 {
  background-color: var(--cinder);
  border-radius: 4px;
  height: 8px;
  margin-left: 12px;
  width: 8px;
}

.ellipse-2 {
  border: 3px solid var(--cinder);
  border-radius: 7px;
  height: 14px;
  margin-left: 12px;
  width: 14px;
}

.section-heading-2 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  height: 104px;
  width: 1110px;
}

.section-heading-3 {
  align-items: flex-start;
  display: flex;
  height: 64px;
  width: 1110px;
}

.section-title-2 {
  letter-spacing: 0;
  line-height: 64px;
  min-height: 64px;
  text-align: center;
  white-space: nowrap;
  width: 1110px;
}

.description-4 {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: 8px;
  min-height: 32px;
  text-align: center;
  white-space: nowrap;
  width: 1110px;
}

/* Casos */

#casos {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 2672px;
  min-width: 1454px;
  padding: 0 165px;
}

.col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 2512px;
  width: 500px;
}

.x1-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 736px;
  margin-top: 80px;
  width: 500px;
}

.project-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 112px;
  margin-top: 24px;
  width: 500px;
}

.project-title {
  letter-spacing: 0;
  line-height: 40px;
  min-height: 40px;
  white-space: nowrap;
}

.project-description {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: 8px;
  min-height: 64px;
  width: 500px;
}

.project-cover {
  height: 600px;
  object-fit: cover;
  width: 500px;
}

.x2-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 736px;
  margin-top: 80px;
  width: 500px;
}

.x3-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 736px;
  margin-top: 80px;
  width: 500px;
}

.section-title {
  letter-spacing: 0;
  line-height: 64px;
  min-height: 64px;
  white-space: nowrap;
}

.col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 2368px;
  margin-bottom: 144px;
  margin-left: 500px;
  width: 500px;
}

.x5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 736px;
  margin-top: 80px;
  width: 500px;
}

.x4-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 736px;
  width: 500px;
}

.x6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 736px;
  margin-top: 80px;
  width: 500px;
}

/* Contacto */

#contacto {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 660px;
  width: 1481px;
}

.overlap-group3 {
  align-items: flex-end;
  background-color: 
#f5f5f5;
  display: flex;
  flex-direction: column;
  margin-right: 4px;
  min-height: 517px;
  padding: 23.3px 128.3px;
  width: 1454px;
}

.button-4 {
  align-items: center;
  align-self: center;
  background-color: var(--xolotl-encabezadospies);
  border-radius: 6px;
  display: flex;
  height: 42px;
  margin-right: 1px;
  margin-top: 49px;
  min-width: 113px;
  padding: 0 32px;
}

.label-5 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 49px;
  text-align: center;
  white-space: nowrap;
}

.group-34 {
  align-items: flex-start;
  display: flex;
  height: 32px;
  margin-top: 40px;
  min-width: 1168px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 32px;
  width: 569px;
}

.vector-12 {
  height: 1px;
  margin-top: 5px;
  width: 569px;
}

.telefono {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8.14px;
  min-height: 26px;
  white-space: nowrap;
}

.flex-col-3 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 30px;
  min-height: 28px;
  width: 569px;
}

.empresa {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 13.77px;
  min-height: 26px;
  white-space: nowrap;
}

.vector-11 {
  height: 1px;
  margin-top: 2px;
  width: 569px;
}

.group-33 {
  align-items: flex-end;
  display: flex;
  height: 32px;
  margin-top: 71px;
  min-width: 1168px;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 30px;
  min-height: 28px;
  width: 569px;
}

.correo-electronico {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 14.12px;
  min-height: 25px;
  white-space: nowrap;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  min-height: 32px;
  width: 569px;
}

.nombre {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8.14px;
  min-height: 26px;
  white-space: nowrap;
}

.vector-10 {
  height: 1px;
  margin-right: 0.13px;
  margin-top: 34px;
  width: 1168px;
}

.vector-9 {
  align-self: center;
  height: 4px;
  margin-right: 0.17px;
  margin-top: 15px;
  width: 215px;
}

.contactanos {
  align-self: center;
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 800;
  letter-spacing: 0;
  line-height: 64px;
  margin-bottom: -7px;
  margin-left: 7.15px;
  margin-top: 32px;
  min-height: 57px;
  text-align: center;
  white-space: nowrap;
  width: 483px;
}

.mensaje {
  align-self: flex-start;
  color: 
#908f8f;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 0;
  margin-left: 29.74px;
  margin-top: 30px;
  min-height: 32px;
  white-space: nowrap;
}

.group-36 {
  height: 10px;
  margin-right: 147.7px;
  margin-top: 132px;
  width: 9px;
}

/* Suscripcion */

.cta-5 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 416px;
  padding: 0 172px;
  width: 1454px;
}

.cta {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/624bc4f906c69da3633c9576/releases/624bc507f7a413115b3c820a/img/bg-mask@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 288px;
  min-width: 1110px;
  padding: 48px 185px;
}

.overlap-group2 {
  align-self: center;
  height: 160px;
  position: relative;
  width: 175px;
}

.envelope-copy-3 {
  height: 64px;
  left: 111px;
  position: absolute;
  top: 0;
  width: 64px;
}

.envelope-copy-2 {
  height: 64px;
  left: 0;
  position: absolute;
  top: 96px;
  width: 64px;
}

.overlap-group1-1 {
  height: 52px;
  left: 121px;
  position: absolute;
  top: 94px;
  width: 52px;
}

.user {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 24px;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 48px;
  padding: 10px 12px;
  position: absolute;
  top: 4px;
}

.vector-3 {
  height: 27px;
  width: 24px;
}

.plus {
  align-items: center;
  background-color: var(--scooter);
  border-radius: 10px;
  display: flex;
  height: 20px;
  left: 32px;
  min-width: 20px;
  padding: 0 3px;
  position: absolute;
  top: 0;
}

.essential-icons-plus {
  height: 14px;
  width: 14px;
}

.envelope-copy-1 {
  align-items: flex-start;
  display: flex;
  height: 120px;
  left: 33px;
  padding: 0 4px;
  position: absolute;
  top: 14px;
  width: 120px;
}

.group-1 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/624bc4f906c69da3633c9576/releases/624bc507f7a413115b3c820a/img/vector@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 120px;
  margin-top: 0;
  min-width: 112px;
}

.overlap-group-4 {
  height: 104px;
  margin-bottom: 0;
  margin-left: -1px;
  position: relative;
  width: 112px;
}

.frame-53 {
  align-items: center;
  display: flex;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 16px;
  width: 64px;
}

.group-54 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  min-height: 14px;
  width: 36px;
}

.rectangle-22 {
  background-color: var(--scooter);
  border-radius: 0.5px;
  height: 6px;
  width: 36px;
}

.rectangle-23 {
  background-color: var(--scooter);
  border-radius: 0.5px;
  height: 5px;
  margin-top: 3px;
  opacity: 0.4;
  width: 16px;
}

.ellipse-11-stroke {
  height: 24px;
  width: 24px;
}

.rectangle-163 {
  background-color: var(--white);
  border-radius: 4px;
  height: 104px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 80px;
}

.vector {
  height: 39px;
  left: 0;
  position: absolute;
  top: 64px;
  width: 112px;
}

.vector-1 {
  height: 70px;
  left: 0;
  position: absolute;
  top: 33px;
  width: 48px;
}

.vector-2 {
  height: 70px;
  left: 63px;
  position: absolute;
  top: 33px;
  width: 49px;
}

.content-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 186px;
  margin-left: 120px;
  width: 445px;
}

.section-title-3 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 800;
  letter-spacing: 0;
  line-height: 34px;
  min-height: 102px;
  width: 445px;
}

.mail-input-field {
  align-items: center;
  display: flex;
  margin-top: 32px;
  width: 337px;
}

.button-5 {
  height: 48px;
  width: 89px;
}

.input-area {
  height: 52px;
  width: 248px;
}

/* Footer */

.footer-mini-7 {
  align-items: center;
  background-color: var(--cinder);
  display: flex;
  flex-direction: column;
  min-height: 256px;
  padding: 24px 0;
  width: 1454px;
}

.divider-1 {
  height: 1px;
  margin-right: 1.21px;
  margin-top: 48px;
  width: 1121px;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 25px;
  margin-top: 24px;
  min-width: 1124px;
}

.titulo {
  align-self: flex-end;
  color: var(--alto);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 328px;
  white-space: nowrap;
}

.social-links {
  align-items: flex-start;
  display: flex;
  margin-left: 652px;
  width: 144px;
}

.social-icons {
  height: 24px;
  margin-left: 16px;
  width: 24px;
}

.social-icons-1 {
  height: 24px;
  width: 24px;
}

.xolotl-creative-labs-1 {
  color: var(--alto);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 18px;
  margin-left: 73px;
  margin-top: 27px;
  min-height: 18px;
  min-width: 189px;
  white-space: nowrap;
}

.links {
  align-items: flex-start;
  display: flex;
  height: 26px;
  margin-left: 42px;
  margin-top: 39px;
  width: 540px;
}

.soporte {
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 24px;
  min-height: 26px;
  min-width: 61px;
  white-space: nowrap;
}

.aviso-de-privacidad {
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 24px;
  min-height: 26px;
  white-space: nowrap;
}

.acerca-de {
  letter-spacing: 0;
  line-height: 26px;
  min-height: 26px;
  min-width: 78px;
  white-space: nowrap;
}

.terminos-y-condiciones {
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 24px;
  min-height: 26px;
  min-width: 179px;
  white-space: nowrap;
}

/* Login */

.overlay {
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.overlay .active {
  visibility: visible;
}

.login{
  background: #f8f8f8;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
  border-radius: 3px;
  font-family: 'Inter';
  padding: 20px;
  text-align: center;
  width:400px;
  transition: .3s ease all;
  transform: scale(0.7);
  opacity: 0;
}

.login .btn-close-login {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  color: #BBBBBB;
  transition: .3s ease all;
}

.login .btn-close-login:hover{
  color: #000;
}

.login h3{
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
  opacity: 0;
}

.login .contenedor-inputs {
  opacity: 0;
}

.login .contenedor-inputs input {
  width: 80%;
  margin-bottom: 20px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  text-align: left;
  border: 1px solid #BBBBBB;
}

.login .btn-submit {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border:none;
  color: #fff;
  background: var(--xolotl-encabezadospies);
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: .3s ease all;
}

.login .btn-submit:hover {
  background: rgba(67, 166, 238, .8);
}

.login.active {
  opacity: 1;
  transform: scale(1);
}

.login.active h3 {
  animation: entradaTitulo .8s ease .5s forwards;
}

.login.active .contenedor-inputs { 
  animation: entradaInputs 1s linear 1s forwards; 
}

@keyframes entradaTitulo{
  from{
    transform: translateY(-25px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes transicionHeader {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.mostrar-izquierda{
  animation: mostrarIzquierda 1.5s ease-out;
}

.mostrar-derecha{
  animation: mostrarDerecha 2.5s;
}

.mostrar-arriba{
  animation: mostrarArriba 2s;
}

.opacidad-visible{
  animation: opacidadVisible 1.5s;
}

@keyframes mostrarIzquierda{
  from {
    opacity: 0;
    transform: translateX(-100%);
  }to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes mostrarDerecha{
  from {
    transform: translateX(100%);
  } to {
    transform: translateX(0);
  }
}

@keyframes mostrarArriba{
  from{
    transform: translateY(200px);
  }to{
    transform: translateY(0);
  }
}

@keyframes opacidadVisible{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}