@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/*  styling scrollbars  */
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #46caea;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a5aaad;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar nav nav nav"
        "sidebar main main main";
    /* grid-gap: 0.2rem; */
}

/* estilos de la barra de arriba */
.navbar {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(198, 204, 205, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(198, 204, 205, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(198, 204, 205, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#c6cccd", GradientType=1);

    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid lightgray;
}

.navbar__center {
    text-align: center;
    width: 100%;
}

.navbar__center>a>h1 {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.navbar__center>a {
    text-decoration: none;
}

.nav_icon {
    display: none;
    cursor: pointer;
}

.toggle-btn span {
    width: 40px;
    font-size: 30px;
}

.logo-img img {
    width: 70px;
    display: none;
}

/* estilos para las redes sociales */

.social-bar img {
    width: 15px;
}

.social-bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-facebook {
    background: #2E406E;
}

.icon-twitter {
    background: #339DC5;
}

.icon-linkedin {
    background: #3F60A5;
}

.icon:first-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child {
    border-radius: 0 0 0 1rem;
}

.icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

/* estilos del area de graficas */
main {
    background: #f9f9f9;
    grid-area: main;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}

.main__container {
    padding: 20px 35px;
    margin: 0%;
}

.imagen-usuario-container {
    width: 100%;
}

.imagen-usuario-container img {
    width: 150px;
}

/* tabla de las encuestas */
.main-tabla {
    text-align: center;
    padding: 0%;
    margin: 0%;
    display: flex;
}

.primera-tabla {
    font-family: 'Didact Gothic', sans-serif;
    border-collapse: collapse;
    margin: 0 auto;
    width: 50%;
}

.primera-tabla th {
    border: 1px solid #dddddd;
    background: #75AEDB;
    text-align: center;
    padding: 8px;
    width: 50%;
}

.primera-tabla td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 50%;
}

/* Tabla de los usuarios */
.segunda-tabla {
    font-family: 'Didact Gothic', sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

.table-fixed tbody {
    display: block;
    height: 130px;
    overflow-y: auto;
}

.segunda-tabla th {
    border: 1px solid #dddddd;
    background: #75AEDB;
    text-align: center;
    width: 1%;
}

.segunda-tabla td {
    border: 1px solid #dddddd;
    text-align: left;
}

/* Cards de graficas */
.contenedor__graficas {
    display: flex;
    width: 100%;
}

.container-cards1{
    padding-right: 20px;
}

.container-cards{
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-card {
    padding: 2px 16px;
    background: #F1F1F1;
}

.container-preguntas {
    text-align: left;
    padding: 2px 16px;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%; 
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-card2 {
    padding: 2px 16px;
    background: #F1F1F1;
}

.grafica canvas{
    height: 100%;
    width: 36vw;
}

.botonDescarga{
    width: 100%;
    text-align: right;
}

#botonDeDescarga{
    background-color: #DD0011; /* red */
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#botonDeDescarga1{
    background-color: #1F7144; /* green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/* Menu */
#sidebar {
    text-align: center;
    background: #252C3D;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 0%;
    margin: 0%;
}

.imagen_usuario .usuario {
    width: 30%;
}

.nombre_usuario h2 {
    color: #ffffff;
    text-decoration: underline;
}

.nombre_usuario>a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 15px;
    font-weight: 700;
    text-decoration: underline;
}

.encuestas ul {
    list-style: none;
}

.encuestas ul li {
    position: relative;
    background: #f9f9f9;
    width: 100%;
}

.submenu a {
    text-align: left;
    color: #000000;
    display: block;
    text-decoration: none;
    padding: 10px;
}

.children input {
    width: 100%;
    color: #f9f9f9;
    display: block;
    padding: 10px;
    border: none;
}

.encuestas ul li a img {
    width: 15px;
    margin-right: 5px;
}

.encuestas ul li .children {
    display: none;
}

.encuestas ul li .children li {
    border-bottom: 1px solid #f9f9f9;
}

.encuestas ul li .children li input {
    background: #222635;
    text-align: center;
}

.informacion-contacto {
    text-align: left;
    color: #f9f9f9;
    margin-left: 3%;
}

.informacion-contacto a {
    text-decoration: none;
    color: #9a9da0;
}

.informacion-contacto img {
    width: 15px;
    margin-right: 10px;
}

.sidebar_responsive {
    width: 50%;
    height: 100%;
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
    position: absolute;
}

.close {
    width: 25px;
    display: none;
}

.hiding{
    display: none;
}

/* responsive site */
@media only screen and (max-width: 978px) {
    .container {
        grid-template-columns: 1fr;
        /* grid-template-rows: 0.2fr 2.2fr; */
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
            "nav"
            "main";
    }

    #sidebar {
        display: none;
    }

    .navbar__center {
        display: none;
    }

    .nav_icon {
        display: inline;
    }

    .imagen_usuario .usuario {
        width: 50px;
    }

    .close {
        display: inline;
        position: absolute;
        right: 2%;
        top: 1%;
    }

    .logo-img img {
        display: inline;
    }

    .contenedor__graficas{
        display: inline;
        text-align: center;   
    }
    .container-cards1{
        padding-bottom: 20px;
        padding-right: 0;
    }
}
select {
    margin: 20px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    width: 300px;
    border-radius: 8px;
    padding: 4px;
}
#buscar-form{
    padding: 12px;
    border-radius: 8px;
    background: #333840;
    color: #ffffff;
    border: none;
}
#graphic-btn-flex{
    margin: 15px 0;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#graphic-btn-flex button{
    background: #3479bf;
    margin: 0 8px;
    color: #ffffff;
    font-size: 19px;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
#graphic-btn-flex button:hover{
    background: #264b87;
}
#graphic-chart{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.myChart{
    width: 35%;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in;
}
.myChart:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}